.poster {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.location-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.show-label {
    font-size: 1rem;
    font-weight: 500;
}

button {
    width: 6rem;
}