<div *ngIf="bookingData" class="card border-light-subtle shadow-sm">
    <div class="row p-3">
        <div class="col-3">
            <img [src]="bookingData.booking.movieShow.posterURL" [alt]="bookingData.booking.movieShow.movieName"
                class="poster" />
        </div>
        <div class="col-9 d-flex flex-column justify-content-between py-2">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>{{bookingData.booking.movieShow.movieName}}</h4>
                    <div class="d-flex align-items-center">
                        <img src="./assets/icons/location.svg" class="location-icon" />
                        <div>{{bookingData.booking.movieShow.theaterAddress}}</div>
                    </div>
                </div>
                <div class="my-2">
                    <div class="d-flex gap-1">
                        <p class="booking-label">Timing: </p>
                        <p>{{bookingData.booking.bookingDateTime | date:'long'}}</p>
                    </div>
                    <div class="d-flex gap-1">
                        <p class="booking-label">Booked Seats: </p>
                        <p>{{bookingData.booking.totalBookedSeats}}</p>
                    </div>
                    <div class="d-flex gap-1">
                        <p class="booking-label">Ticket Price: </p>
                        <p>{{bookingData.booking.movieShow.ticketPrice}} AED</p>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-danger btn-sm"
                    (click)="cancelBooking(bookingData.booking.id)">Cancel Booking</button>
            </div>
        </div>
    </div>
</div>